body {
	background: linear-gradient(to right, silver , white, silver); /* Standard syntax */
}

/** Structure */
#header {
	padding: 20px;
	background: lightblue;
	margin: 5px 15%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 8px;
}

#content {
	background: #fff;
	padding: 20px;
	margin: 5px 15%;
	border-width: 2px;
	border-style: solid;
	border-color: lightblue;
	border-radius: 8px;
}

#footer {
	padding: 20px;
	background: lightblue;
	margin: 5px 15%;
	border-width: 2px;
	border-style: solid;
	border-color: black;
	border-radius: 8px;
}

/** links */
#header a {
	color: black;
	background: lightblue;
	padding: 4px 15px;
	text-decoration: none;
	font-size: 15px;
	font-weight: bolder;
	border-width: 2px;
	border-style: solid;
	border-radius: 4px;
	border-color: #436fac;
}

#header a:hover {
	background: #436fac;
	color: white;
}

